.btn-sizer{
	width: 80% !important;
	margin-right: 10% !important;
	margin-left: 10% !important;
}

.btn-sizer-row{
	width: 40% !important;
	margin-right: 4% !important;
	margin-left: 4% !important;
}